@import "./setting";

.navbar-board{
    height: $navbar-board-height;
    padding-left: $gap;
    display: flex;
    align-items: center;
    background-color: $broard-bg-color;
    font-size: 1.1rem;
};