@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$broard-bg-color: #0079bf;
$appbar-bg-color: #006783;
$list-bg-color: #ebecf0;
$common-element-bg: rgba(255,255,255, .24);

$gap:10px;

$card-border-radius: 4px;